*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-color: #fff;
}
h1 {
    margin-bottom: 20px;
    font-size: 3rem;
}

#introFormContainer{
    width: 100%;
    height: 100%;
    background-color: black;
    border: 2px solid #023353;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introForm{
    background-color: #e7e7e7;
    height: 30vh;
    width: 60vh;
    padding: 15px;
    border-radius: 15px;
    opacity: 0;
    animation: formFadeIn 2s ease-in-out 1s 1 normal forwards;
    border: 2px solid pink;
}
.introForm .introForm_title{
    text-align: center;
    height: 5rem;
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.introForm .startBtn{
    display: block;
}

#gameContainer{
    position: relative;
    font-size: 3rem;
    /* display: none; */
}
#gameControls{
    position: absolute;
    left: -20%;
    top: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(-50%);
}
#gameControls button {
  padding: 7px;
  margin: 5px;
  border: 1px solid white;
  color: #fff;
  font-size: 1.7rem;
  border-radius: 7px;
  transition: 0.5s;
  transition-property: box-shadow;
}
#gameControls button {
  background: rgb(1, 59, 107);
  /* box-shadow: 0 0 25px rgb(0,140,255); */
}
#gameControls button:hover {
  box-shadow: 0 0 5px rgb(68, 170, 253),
              0 0 25px rgb(68, 170, 253),
              0 0 50px rgb(68, 170, 253),
              0 0 100px rgb(68, 170, 253);
}

#horizontalRuler{
    width: 100%;
    height: 4.5vh;
    top: -5.5vh;
    flex-direction: row;
}
#verticalRuler{
    width: 4.5vh;
    height: 100%;
    left: -5.5vh;
    flex-direction: column;
}
.ruler{
    position: absolute;
    display: none;
    /* display: flex; */
    justify-content: space-around;
}
.ruler span{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}
.ruler .identifier{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #023353;
    width: 4.5vh;
    height: 4.5vh;
}

#gameBoard {
    /* width e height estão definidos no JS; */
    position: relative;
    border: 2px solid #023353;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    /* background-color: rgb(10, 10, 10); */
    background-color: #e7e7e7;
    display: grid;
    display: none;
    grid-template-columns: repeat(4, 25%);
}
#gameBoard .card {
    width: 90%;
    height: 90%;
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border: 4px solid, #023353;
    border-radius: 15px;
}
#gameBoard .card img {
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-clip: border-box ;
    background-position: center ;
    background-size: cover ;
}
#gameBoard .card.flipped {
    box-shadow: 0px 0px 10px #67c2ff,
                0px 0px 20px #67c2ff;
    border-color: #67c2ff;
}
#gameBoard .card.flipped img{
    visibility: inherit;
    width: 100%;
    height: 100%;
    background-clip: border-box ;
    background-position: center ;
    background-size: cover ;
    border-radius: 10px;

}
#gameBoard .card.flipped.isNotMatched {
    box-shadow: 0px 0px 10px #fc0707,
                0px 0px 20px #fc0707;
    border-color: #fc0707;
}
#gameBoard .card.matched {
    background-color: #95a5a6;
    border-color: #14ff4f;
    box-shadow: 0px 0px 10px #14ff4f,
                0px 0px 20px #14ff4f;

    cursor: default;
}

#gameAccessibleContainer{
    position: absolute;
    display: none;
    right: -55%;
    top: 50%;
    height: 80%;
    width: 50%;
    transform: translateY(-50%);
    border: 1px solid #023353;
    background-color: #e7e7e7;
    border-radius: 15px;
    padding: 10px;
}

@media screen and (max-height: 900px ) {
    .ruler span{
        font-size: 2.3rem;
    } 
}

@keyframes formFadeIn{
    0%{opacity: 0;}
    100%{ opacity: 1;}
    
}
